In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import functions as sf
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import IntegerType

In [ ]:
#setup configuration property 
#set the master URL 
#set an application name 
conf = SparkConf().setMaster("local").setAppName("sparkproject")
#start spark cluster 
#if already started then get it else start it 
sc = SparkContext.getOrCreate(conf=conf)
#initialize SQLContext from spark cluster 
sqlContext = SQLContext(sc)

In [ ]:
#Filepath variable for your file location directory
FilePath="/content/"
#FileName variable
FileName="flights_small.csv"
#combine both above variables
FullPath= FilePath + FileName

In [ ]:
#dataframe 
#set header property true for the actual header columns
df=sqlContext.read.csv(FullPath, header=True)
#display data from the dataframe
df.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

In [ ]:
flights_small = flights_small.withColumn('Full_Date', 
                    sf.concat(sf.col('day'),sf.lit('/'), sf.col('month'),sf.lit('/'), sf.col('year')))
flights_small.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute| Full_Date|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58| 8/12/2014|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40| 22/1/2014|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|  9/3/2014|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|  9/4/2014|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|  9/3/2014|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37| 15/1/2014|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|  2/7/2014|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55| 12/5/2014|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36| 19/4/2014|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|19/11/2014|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53| 8/11/2014|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|  3/8/2014|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|30/10/2014|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|12/11/2014|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|31/10/2014|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9| 29/1/2014|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|17/12/2014|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17| 11/8/2014|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56| 13/1/2014|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|  5/6/2014|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+----------+
only showing top 20 rows

In [ ]:
#Filepath variable for your file location directory
FilePath2="/content/"
#FileName variable
FileName2="homelessness.csv"
#combine both above variables
FullPath2= FilePath2 + FileName2

In [ ]:
#dataframe 
#set header property true for the actual header columns
homelessness=sqlContext.read.csv(FullPath2, header=True)
#convert the Data type of two Column
homelessness = homelessness.withColumn("individuals", homelessness["individuals"].cast(IntegerType()))
homelessness = homelessness.withColumn("family_members", homelessness["family_members"].cast(IntegerType()))
#display data from the dataframe
homelessness.show()

+---+------------------+--------------------+-----------+--------------+---------+
|_c0|            region|               state|individuals|family_members|state_pop|
+---+------------------+--------------------+-----------+--------------+---------+
|  0|East South Central|             Alabama|       2570|           864|  4887681|
|  1|           Pacific|              Alaska|       1434|           582|   735139|
|  2|          Mountain|             Arizona|       7259|          2606|  7158024|
|  3|West South Central|            Arkansas|       2280|           432|  3009733|
|  4|           Pacific|          California|     109008|         20964| 39461588|
|  5|          Mountain|            Colorado|       7607|          3250|  5691287|
|  6|       New England|         Connecticut|       2280|          1696|  3571520|
|  7|    South Atlantic|            Delaware|        708|           374|   965479|
|  8|    South Atlantic|District of Columbia|       3770|          3134|   701547|
|  9|    South Atlantic|             Florida|      21443|          9587| 21244317|
| 10|    South Atlantic|             Georgia|       6943|          2556| 10511131|
| 11|           Pacific|              Hawaii|       4131|          2399|  1420593|
| 12|          Mountain|               Idaho|       1297|           715|  1750536|
| 13|East North Central|            Illinois|       6752|          3891| 12723071|
| 14|East North Central|             Indiana|       3776|          1482|  6695497|
| 15|West North Central|                Iowa|       1711|          1038|  3148618|
| 16|West North Central|              Kansas|       1443|           773|  2911359|
| 17|East South Central|            Kentucky|       2735|           953|  4461153|
| 18|West South Central|           Louisiana|       2540|           519|  4659690|
| 19|       New England|               Maine|       1450|          1066|  1339057|
+---+------------------+--------------------+-----------+--------------+---------+
only showing top 20 rows

In [ ]:
#creating the low cardinality from AVG values of a column
homelessness = homelessness.withColumn("LABLE_individuals", 
                                       sf.when(homelessness.individuals 
                                               < str(homelessness.select(sf.avg("individuals")).collect()[0][0]) 
                                               , "LOW").otherwise("HIGH"))
homelessness = homelessness.withColumn("LABLE_family_members", 
                                       sf.when(homelessness.family_members 
                                               < str(homelessness.select(sf.avg("family_members")).collect()[0][0]) 
                                               , "LOW").otherwise("HIGH"))
homelessness.show()

+---+------------------+--------------------+-----------+--------------+---------+-----------------+--------------------+
|_c0|            region|               state|individuals|family_members|state_pop|LABLE_individuals|LABLE_family_members|
+---+------------------+--------------------+-----------+--------------+---------+-----------------+--------------------+
|  0|East South Central|             Alabama|       2570|           864|  4887681|              LOW|                 LOW|
|  1|           Pacific|              Alaska|       1434|           582|   735139|              LOW|                 LOW|
|  2|          Mountain|             Arizona|       7259|          2606|  7158024|             HIGH|                 LOW|
|  3|West South Central|            Arkansas|       2280|           432|  3009733|              LOW|                 LOW|
|  4|           Pacific|          California|     109008|         20964| 39461588|             HIGH|                HIGH|
|  5|          Mountain|            Colorado|       7607|          3250|  5691287|             HIGH|                 LOW|
|  6|       New England|         Connecticut|       2280|          1696|  3571520|              LOW|                 LOW|
|  7|    South Atlantic|            Delaware|        708|           374|   965479|              LOW|                 LOW|
|  8|    South Atlantic|District of Columbia|       3770|          3134|   701547|              LOW|                 LOW|
|  9|    South Atlantic|             Florida|      21443|          9587| 21244317|             HIGH|                HIGH|
| 10|    South Atlantic|             Georgia|       6943|          2556| 10511131|              LOW|                 LOW|
| 11|           Pacific|              Hawaii|       4131|          2399|  1420593|              LOW|                 LOW|
| 12|          Mountain|               Idaho|       1297|           715|  1750536|              LOW|                 LOW|
| 13|East North Central|            Illinois|       6752|          3891| 12723071|              LOW|                HIGH|
| 14|East North Central|             Indiana|       3776|          1482|  6695497|              LOW|                 LOW|
| 15|West North Central|                Iowa|       1711|          1038|  3148618|              LOW|                 LOW|
| 16|West North Central|              Kansas|       1443|           773|  2911359|              LOW|                 LOW|
| 17|East South Central|            Kentucky|       2735|           953|  4461153|              LOW|                 LOW|
| 18|West South Central|           Louisiana|       2540|           519|  4659690|              LOW|                 LOW|
| 19|       New England|               Maine|       1450|          1066|  1339057|              LOW|                 LOW|
+---+------------------+--------------------+-----------+--------------+---------+-----------------+--------------------+
only showing top 20 rows