<a href="https://colab.research.google.com/github/arsalanmubeen/IBA/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL

 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.
     |████████████████████████████████| 43 kB 1.6 MB/s

In [ ]:
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/
# query using %sql or %%sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@'

In [ ]:
df = %sql select * FROM mysql.user
df

 * mysql+pymysql://root:***@/

,Host,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,...,max_questions,max_updates,max_connections,max_user_connections,plugin,authentication_string,password_expired,password_last_changed,password_lifetime,account_locked
0,localhost,root,Y,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,mysql_native_password,*81F5E21E35407D884A6CD4A731AEBFB6AF209E1B,N,2022-03-09 13:33:13,None,N
1,localhost,mysql.session,N,N,N,N,N,N,N,N,...,0,0,0,0,mysql_native_password,*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE,N,2022-03-09 13:32:57,None,Y
2,localhost,mysql.sys,N,N,N,N,N,N,N,N,...,0,0,0,0,mysql_native_password,*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE,N,2022-03-09 13:32:57,None,Y
3,localhost,debian-sys-maint,Y,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,mysql_native_password,*B78F108C30F62A9828BA60C097D0459BE2D256A2,N,2022-03-09 13:32:57,None,N

In [ ]:
df.to_csv('test.csv')

In [ ]:
import smtplib
fromaddr = "Arsalan.mubeen@gmail.com"
toaddrs = "it@lifecareinternational.com"

msg = "please find the attached test.CSV file from Python code"
attach = ("test.csv")

username = "Arsalan.mubeen@gmail.com"
password = "xxx"

server = smtplib.SMTP('smtp.gmail.com:587')
server.starttls()
server.login(username,password)
server.sendmail(fromaddr, toaddrs, msg, attach)
server.quit()

In [ ]:
class MarketingCosts:

    # param marketing_expenditure list. Expenditure for each previous campaign.
    # param units_sold list. The number of units sold for each previous campaign.
    # param desired_units_sold int. Target number of units to sell in the new campaign.
    # returns float. Required amount of money to be invested.
    @staticmethod
    def desired_marketing_expenditure(marketing_expenditure, units_sold, desired_units_sold):
        marketing_expenditure = np.asarray(marketing_expenditure).reshape(-1, 1)
        units_sold = np.asarray(units_sold).reshape(-1, 1)
        reg = linear_model.LinearRegression()
        reg.fit(marketing_expenditure , units_sold)
        return np.float((desired_units_sold - reg.intercept_)/reg.coef_)

# For example, with the parameters below the function should return 250000.0.
print(MarketingCosts.desired_marketing_expenditure(
    [300000, 200000, 400000, 300000, 100000],
    [60000, 50000, 90000, 80000, 30000],
    60000))

250000.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  del sys.path[0]